@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Courier+Prime&family=Fira+Code:wght@300;400;500&family=Indie+Flower&family=Roboto:wght@300&display=swap");


h1 {
    font-family: 'Indie Flower';
    color: white;
    font-size: 5rem;
}